#imagem-neymar{
    width: 200px;
}

.cabecalho{
    border: 3px;
    border-style: dashed;
    border-color: red;
    background-color: red;
    color: white;
    margin: 50px;
}
#link-uruguay{
    font-size: 20px;
    color: pink;
    text-decoration: none;
}
#link-uruguay:hover{
    font-size: 30px;
    color:blue;
    text-decoration: double;
}